Form errors: 
<ul class="errorlist">
    <li>hiddenElectrolyzerEff
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>hiddenRenewablePct
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>hiddenCO2Emission
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
</ul>

<QueryDict: {'csrfmiddlewaretoken': ['Q40fFdVJ2uzALo2WNbwnHRg08H4WxGJnUtenY2ilTnSTOKyWEm38eYb5WO29L1L9'], 'hiddenH2Production': ['133']}></QueryDict:>


<ul class="errorlist">
    <li>hiddenH2Production
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>hiddenElectrolyzerEff
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
    <li>hiddenRenewablePct
        <ul class="errorlist">
            <li>This field is required.</li>
        </ul>
    </li>
</ul>

<button onclick="resetAction()">Reset</button>




