
<!-- coal -->
<input type="text" id="sliderCoal" name="sliderCoal" 
       data-min="{{ form.sliderCoal.field.min_value }}"
       data-max="{{ form.sliderCoal.field.max_value }}"
       data-step="{{ form.sliderCoal.field.widget.attrs.step }}"
       data-initial="{{ form.sliderCoal.initial }}">

<!-- oil -->
<input type="text" id="sliderOil" name="sliderOil" 
       data-min="{{ form.sliderOil.field.min_value }}"
       data-max="{{ form.sliderOil.field.max_value }}"
       data-step="{{ form.sliderOil.field.widget.attrs.step }}"
       data-initial="{{ form.sliderOil.initial }}">

<!-- natural gas -->
<input type="text" id="sliderNatGas" name="sliderNatGas" 
       data-min="{{ form.sliderNatGas.field.min_value }}"
       data-max="{{ form.sliderNatGas.field.max_value }}"
       data-step="{{ form.sliderNatGas.field.widget.attrs.step }}"
       data-initial="{{ form.sliderNatGas.initial }}">

<!-- electrolysis -->
<input type="text" id="sliderElectrolysis" name="sliderElectrolysis" 
       data-min="{{ form.sliderElectrolysis.field.min_value }}"
       data-max="{{ form.sliderElectrolysis.field.max_value }}"
       data-step="{{ form.sliderElectrolysis.field.widget.attrs.step }}"
       data-initial="{{ form.sliderElectrolysis.initial }}">

<!-- total H2 production -->
<!-- <input type="text" id="SliderH2Production" name="SliderH2Production"  -->
       data-min="{{ form.SliderH2Production.field.min_value }}"
       data-max="{{ form.SliderH2Production.field.max_value }}"
       data-step="{{ form.SliderH2Production.field.widget.attrs.step }}"
       <!-- data-initial="{{ form.SliderH2Production.initial }}"> -->

<!-- SliderElectrolyzerEff -->
<!-- <input type="text" id="SliderElectrolyzerEff" name="SliderElectrolyzerEff"  -->
       data-min="{{ form.SliderElectrolyzerEff.field.min_value }}"
       data-max="{{ form.SliderElectrolyzerEff.field.max_value }}"
       data-step="{{ form.SliderElectrolyzerEff.field.widget.attrs.step }}"
       <!-- data-initial="{{ form.SliderElectrolyzerEff.initial }}"> -->

<!-- SliderRenewablePct -->
<!-- <input type="text" id="SliderRenewablePct" name="SliderRenewablePct"  -->
       data-min="{{ form.SliderRenewablePct.field.min_value }}"
       data-max="{{ form.SliderRenewablePct.field.max_value }}"
       data-step="{{ form.SliderRenewablePct.field.widget.attrs.step }}"
       <!-- data-initial="{{ form.SliderRenewablePct.initial }}"> -->

<!-- SliderCO2Emission -->
<!-- <input type="text" id="SliderCO2Emission" name="SliderCO2Emission"  -->
       data-min="{{ form.SliderCO2Emission.field.min_value }}"
       data-max="{{ form.SliderCO2Emission.field.max_value }}"
       data-step="{{ form.SliderCO2Emission.field.widget.attrs.step }}"
       <!-- data-initial="{{ form.SliderCO2Emission.initial }}"> -->